body {
    text-align: center;
}

#board {
    border: 3px solid;
}

#score {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}

#reset {
    font-family: Arial, Helvetica, sans-serif;
}